<!-- <div class="container">
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= locals.errorObj?.email || '' %>"><br>
        <% if(locals.errorObj && errorObj.emailError) { %>
            <p class="text-danger"><%= errorObj.emailError %></p>
        <% } %>
        <input type="text" name="phone" placeholder="Mobile number" value="<%= locals.errorObj?.phone || '' %>"><br>
        <% if(locals.errorObj && errorObj.phoneError) { %>
            <p class="text-danger"><%= errorObj.phoneError %></p>
        <% } %>
        <input type="password" name="password" placeholder="Password" ><br>
        <% if(locals.errorObj && errorObj.passwordError) { %>
            <p class="text-danger"><%= errorObj.passwordError %></p>
        <% } %>
        <input type="password" name="Cpassword" placeholder="Confirm Password"><br>
        <% if(locals.errorObj && errorObj.CpasswordError) { %>
            <p class="text-danger"><%= errorObj.CpasswordError %></p>
        <% } %>

        <a href="/login">Already a user? Signin</a><br>
    
        <button type="submit">Signup</button>
    </form>
    
    <div>
        <a class="btn btn-info" href="/auth/google">Continue with google</a>
        <a class="btn btn-primary" href="/auth/facebook">Continue with facebook</a>
    </div>
</div> -->

<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">Home</a></li>
                            <li class="is-marked">

                                <a href="/register">SignUp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">SIGNUP</h1>

                                <span class="gl-text u-s-m-b-30">If you have have an account <a class="gl-link" href="/register">login here?</a></span>

                                <form class="l-f-o__form" action="/register" method="post">
                                    <div class="u-s-m-b-25">

                                        <label class="gl-label" for="login-email">E-MAIL *</label>

                                        <input name="email" class="input-text input-text--primary-style" type="text" id="login-email" placeholder="Enter E-mail" value="<%= locals.errorObj?.email || '' %>">
                                    
                                        <% if(locals.errorObj && errorObj.emailError) { %>
                                            <p class="text-danger"><%= errorObj.emailError %></p>
                                        <% } %>
                                    </div>
                                    <div class="u-s-m-b-25">

                                        <label class="gl-label" for="login-email">Phone *</label>

                                        <input name="phone" class="input-text input-text--primary-style" type="text" id="login-email" placeholder="Enter Mobile Number" value="<%= locals.errorObj?.phone || '' %>">
                                    
                                        <% if(locals.errorObj && errorObj.phoneError) { %>
                                            <p class="text-danger"><%= errorObj.phoneError %></p>
                                        <% } %>
                                    </div>
                                    <div class="u-s-m-b-25">

                                        <label class="gl-label" for="login-password">PASSWORD *</label>

                                        <input name="password" class="input-text input-text--primary-style" type="text" id="login-password" placeholder="Enter Password">
                                        <% if(locals.errorObj && errorObj.passwordError) { %>
                                            <p class="text-danger mb-2"><%= errorObj.passwordError %></p>
                                        <% } %>
                                    </div>
                                    <div class="u-s-m-b-25">

                                        <label class="gl-label" for="login-password">CONFIRM PASSWORD *</label>

                                        <input name="Cpassword" class="input-text input-text--primary-style" type="text" id="login-password" placeholder="Enter Matching Password">
                                        <% if(locals.errorObj && errorObj.CpasswordError) { %>
                                            <p class="text-danger mb-2"><%= errorObj.CpasswordError %></p>
                                        <% } %>
                                    </div>
                                    <div class="gl-inline">
                                        <div class="u-s-m-b-30">
                                            <button class="btn btn--e-transparent-brand-b-2" type="submit">Register</button></div>
                                    </div>
                                </form>
                                <div class="gl-s-api">
                                    <div class="u-s-m-b-15 mt-4">

                                        <a href="/auth/facebook" class="gl-s-api__btn gl-s-api__btn--fb rounded" type="button"><i class="fab fa-facebook-f"></i>

                                            <span>Signin with Facebook</span></a>
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <a href="/auth/google" class="gl-s-api__btn gl-s-api__btn--gplus rounded" type="button"><i class="fab fa-google"></i>

                                            <span>Signin with Google</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>