<div class="container">
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= locals.errorObj?.email || '' %>"><br>
        <% if(locals.errorObj && errorObj.emailError) { %>
            <p class="text-danger"><%= errorObj.emailError %></p>
        <% } %>
        <input type="text" name="phone" placeholder="Mobile number" value="<%= locals.errorObj?.phone || '' %>"><br>
        <% if(locals.errorObj && errorObj.phoneError) { %>
            <p class="text-danger"><%= errorObj.phoneError %></p>
        <% } %>
        <input type="password" name="password" placeholder="Password" ><br>
        <% if(locals.errorObj && errorObj.passwordError) { %>
            <p class="text-danger"><%= errorObj.passwordError %></p>
        <% } %>
        <input type="password" name="Cpassword" placeholder="Confirm Password"><br>
        <% if(locals.errorObj && errorObj.CpasswordError) { %>
            <p class="text-danger"><%= errorObj.CpasswordError %></p>
        <% } %>

        <a href="/login">Already a user? Signin</a><br>
    
        <button type="submit">Signup</button>
    </form>
    
    <div>
        <a class="btn btn-info" href="/auth/google">Continue with google</a>
        <a class="btn btn-primary" href="/auth/facebook">Continue with facebook</a>
    </div>
</div>