<div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">
                                    <div class="shop-p__meta-wrap u-s-m-b-60">

                                        <span class="shop-p__meta-text-1"></span>
                                        <div class="shop-p__meta-text-2">

                                            <span>Categories:</span>
                                            <% for(const category of locals.categories) {%>
                                                <a href="?sortby=<%=locals.sortby%>&limit=<%=locals.limit%>&category=<%=category.name%>" class="gl-tag btn--e-brand-shadow" href="#"><%= category.name %></a>
                                            <% } %>
                                            </div>
                                    </div>
                                    <div class="shop-p__tool-style">
                                        <div class="tool-style__group u-s-m-b-8">

                                            <!-- <span class="js-shop-filter-target" data-side="#side-filter">Filters</span> -->

                                            <span class="js-shop-grid-target is-active">Grid</span>

                                            <span class="js-shop-list-target">List</span></div>
                                        <form>
                                            <div class="tool-style__form-wrap">
                                                <div class="u-s-m-b-8">
                                                    <select role="search" name="limit" class="select-box select-box--transparent-b-2">
                                                        <option value="8" <%= locals.limit == "8" ? 'selected' : '' %>>Show: 8</option>
                                                        <option value="12" <%= locals.limit == "12" ? 'selected' : '' %>>Show: 12</option>
                                                        <option value="16" <%= locals.limit == "16" ? 'selected' : '' %>>Show: 16</option>
                                                    </select>
                                                </div>
                                                <div class="u-s-m-b-8">
                                                    <select  role="search" name="sortby" class="select-box select-box--transparent-b-2">
                                                        <option value="newest" <%= locals.sortby === "newest" ? 'selected' : '' %>>Sort By: Newest Items</option>
                                                        <option value="rating" <%= locals.sortby === "rating" ? 'selected' : '' %>>Sort By: Best Rating</option>
                                                        <option value="lowest" <%= locals.sortby === "lowest" ? 'selected' : '' %>>Sort By: Lowest Price</option>
                                                        <option value="highest" <%= locals.sortby === "highest" ? 'selected' : '' %>>Sort By: Highest Price</option>
                                                    </select>
                                                </div>
                                                <div class="u-s-m-b-8">
                                                    <button type="submit">Apply</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">
                                        <!--====== Products ======-->
                                        <% for(const product of locals.products) {%>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="product-m">
                                                    <div class="product-m__thumb">
    
                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="#">
    
                                                            <img class="aspect__img" src="<%= product.images[0] %>" alt=""></a>
                                                        <div class="product-m__quick-look">
    
                                                            <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                                                        <div class="product-m__add-cart">
    
                                                            <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart">Add to Cart</a></div>
                                                    </div>
                                                    <div class="product-m__content">
                                                        <div class="product-m__category">
    
                                                            <a href="shop-side-version-2.html"><%= product.category?.name %></a></div>
                                                        <div class="product-m__name">
    
                                                            <a href="product-detail.html"><%= product.product_name %></a></div>
                                                        <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
    
                                                            <span class="product-m__review">(23)</span></div>
                                                        <div class="product-m__price">RS.<%= product.price %></div>
                                                        <div class="product-m__hover">
                                                            <div class="product-m__preview-description">
                                                                <span><%= product.description.slice(0, 100) %>...</span></div>
                                                            <div class="product-m__wishlist">
                                                                <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                        <!--====== End Products ======-->
                                    </div>
                                </div>
                                <div class="u-s-p-y-60">

                                    <!--====== Pagination ======-->
                                    <ul class="shop-p__pagination">
                                        <li class="is-active">

                                            <a href="shop-grid-full.html">1</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">2</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">3</a></li>
                                        <li>

                                            <a href="shop-grid-full.html">4</a></li>
                                        <li>

                                            <a class="fas fa-angle-right" href="shop-grid-full.html"></a></li>
                                    </ul>
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>