<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Product Category list</h4>
      <h6>View/Search product Category</h6>
    </div>
    <div class="page-btn">
      <a href="add" class="btn btn-added">
        <img
          src="/static/backend/assets/img/icons/plus.svg"
          class="me-1"
          alt="img"
        />Add Category
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">

      <div class="table-top">
        <div class="search-set">
            <form action="">
                <div class="searchinputs show">
                    <input type="text" name="search" placeholder="Search Here ..." role="search">
                    <div class="search-addon">
                      <span style="background: transparent;"><img src="/static/backend/assets/img/icons/search-white.svg" alt="img"></span>
                    </div>
                  </div>
            </form>
        </div>
        <!-- <div class="form-group">
          <form action="">
            <select name="status" class="select" style="width: 300px;">
              <option value="all">All</option>
              <option value="true">Active</option>
              <option value="false">InActive</option>
            </select>
          <form action="">
        </div> -->
      </div>

      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
              <th>Category name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <% if(locals.categories) {%>
                <% for(let category of categories){ %>
                    <tr>
                        <td class="productimgname">
                          <a href="javascript:void(0);" class="product-img">
                            <img
                              src="/<%= category.image %>"
                              alt="/<%= category.name %>"
                              style="object-fit: contain;"
                            />
                          </a>
                          <a href="javascript:void(0);"><%= category.name %></a>
                        </td>
                        <td><%= category.description %></td>
                        <td>
                            <% if(category.isActive){%>
                                <a href="/admin/category/change_status/<%= category.id %>?status=false&_method=PATCH" class="bg-lightgreen badges text-white">Active</a>
                            <%} else {%>
                                <a href="/admin/category/change_status/<%= category.id %>?status=true&_method=PATCH" class="bg-lightred badges text-white">Inactive</a>
                            <%}%>
                        </td>
                        <td>
                          <a class="me-3" href="/admin/category/edit/<%= category.id %>">
                            <img
                              src="/static/backend/assets/img/icons/edit.svg"
                              alt="img"
                            />
                          </a>
                          <a class="me-3" onclick="confirmDelete('/admin/category/delete/<%= category.id %>?_method=DELETE')" href="javascript:void(0);">
                          <!-- <a class="me-3 confirm-text" href="/admin/category/delete/<%= category.id %>?_method=DELETE"> -->
                            <img
                              src="/static/backend/assets/img/icons/delete.svg"
                              alt="img"
                            />
                          </a>
                        </td>
                      </tr>
                <% }%>
              <% }%>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
