<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Product Category list</h4>
      <h6>View/Search product Category</h6>
    </div>
    <div class="page-btn">
      <a href="add" class="btn btn-added">
        <img
          src="/static/backend/assets/img/icons/plus.svg"
          class="me-1"
          alt="img"
        />Add Category
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
            <form action="">
                <div class="searchinputs show">
                    <input type="text" placeholder="Search Here ...">
                    <div class="search-addon">
                      <span style="background: transparent;"><img src="/static/backend/assets/img/icons/search-white.svg" alt="img"></span>
                    </div>
                  </div>
            </form>
          <!-- <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img
                src="/static/backend/assets/img/icons/filter.svg"
                alt="img"
              />
              <span
                ><img
                  src="/static/backend/assets/img/icons/closes.svg"
                  alt="img"
              /></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"
              ><img
                src="/static/backend/assets/img/icons/search-white.svg"
                alt="img"
            /></a>
          </div> -->
        </div>
        <div class="wordset"></div>
      </div>

      <!-- <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <select class="select">
                  <option>Choose Category</option>
                  <option>Computers</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <select class="select">
                  <option>Choose Sub Category</option>
                  <option>Fruits</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <select class="select">
                  <option>Choose Sub Brand</option>
                  <option>Iphone</option>
                </select>
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
              <div class="form-group">
                <a class="btn btn-filters ms-auto"
                  ><img
                    src="/static/backend/assets/img/icons/search-whites.svg"
                    alt="img"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
              <th>Category name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <% if(locals.categories) {%>
                <% for(let category of categories){ %>
                    <tr>
                        <td class="productimgname">
                          <a href="javascript:void(0);" class="product-img">
                            <img
                              src="/<%= category.image %>"
                              alt="/<%= category.name %>"
                            />
                          </a>
                          <a href="javascript:void(0);"><%= category.name %></a>
                        </td>
                        <td><%= category.description %></td>
                        <td>
                            <% if(category.isActive){%>
                                <a href="/admin/category/change_status/<%= category.id %>?status=false&_method=PATCH" class="bg-lightgreen badges text-white">Active</a>
                            <%} else {%>
                                <a href="/admin/category/change_status/<%= category.id %>?status=true&_method=PATCH" class="bg-lightred badges text-white">Inactive</a>
                            <%}%>
                        </td>
                        <td>
                          <a class="me-3" href="/admin/category/edit/<%= category.id %>">
                            <img
                              src="/static/backend/assets/img/icons/edit.svg"
                              alt="img"
                            />
                          </a>
                          <a class="me-3" onclick="confirmDelete('/admin/category/delete/<%= category.id %>?_method=DELETE')" href="javascript:void(0);">
                          <!-- <a class="me-3 confirm-text" href="/admin/category/delete/<%= category.id %>?_method=DELETE"> -->
                            <img
                              src="/static/backend/assets/img/icons/delete.svg"
                              alt="img"
                            />
                          </a>
                        </td>
                      </tr>
                <% }%>
              <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
