<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="POS - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title><%= locals.title || 'Tech Bay | Admin' %></title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/backend/assets/img/favicon.jpg"
    />

    <link
      rel="stylesheet"
      href="/static/backend/assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/static/backend/assets/css/animate.css" />

    <link
      rel="stylesheet"
      href="/static/backend/assets/plugins/select2/css/select2.min.css"
    />

    <link
      rel="stylesheet"
      href="/static/backend/assets/css/dataTables.bootstrap4.min.css"
    />

    <link
      rel="stylesheet"
      href="/static/backend/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/backend/assets/plugins/fontawesome/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css"
      integrity="sha512-UtLOu9C7NuThQhuXXrGwx9Jb/z9zPQJctuAgNUBK3Z6kkSYT9wJ+2+dh6klS+TDBCV9kNPBbAxbVD+vCcfGPaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/backend/assets/css/style.css" />
  </head>
  <body>
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
      <!-- ====Header Bar==== -->
      <div class="header">
        <div class="header-left active">
          <a href="/admin" class="logo">
            <img src="/static/logo/logo.png" alt="" />
          </a>
          <a id="toggle_btn" href="javascript:void(0);"> </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <ul class="nav user-menu">
          <li class="nav-item">
            <div class="top-nav-search">
              <a href="javascript:void(0);" class="responsive-search">
                <i class="fa fa-search"></i>
              </a>
              <form action="#">
                <div class="searchinputs">
                  <input type="text" placeholder="Search Here ..." />
                  <div class="search-addon">
                    <span
                      ><img
                        src="/static/backend/assets/img/icons/closes.svg"
                        alt="img"
                    /></span>
                  </div>
                </div>
                <a class="btn" id="searchdiv"
                  ><img
                    src="/static/backend/assets/img/icons/search.svg"
                    alt="img"
                /></a>
              </form>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow main-drop">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle nav-link userset"
              data-bs-toggle="dropdown"
            >
              <span class="user-img"
                ><img
                  src="/static/backend/assets/img/profiles/avator1.jpg"
                  alt="" />
                <span class="status online"></span
              ></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
              <div class="profilename">
                <div class="profileset">
                  <div class="profilesets">
                    <h6>John Doe</h6>
                  </div>
                </div>
                <hr class="m-0" />
                <a class="dropdown-item" href="profile.html">
                  <i class="me-2" data-feather="user"></i> My Profile</a
                >
                <a class="dropdown-item" href="generalsettings.html"
                  ><i class="me-2" data-feather="settings"></i>Settings</a
                >
                <hr class="m-0" />
                <a class="dropdown-item logout pb-0" href="/admin/logout"
                  ><img
                    src="/static/backend/assets/img/icons/log-out.svg"
                    class="me-2"
                    alt="img"
                  />Logout</a
                >
              </div>
            </div>
          </li>
        </ul>

        <div class="dropdown mobile-user-menu">
          <a
            href="javascript:void(0);"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="generalsettings.html">Settings</a>
            <a class="dropdown-item" href="signin.html">Logout</a>
          </div>
        </div>
      </div>
      <!-- ====End Header Bar==== -->

      <!-- ====Side Bar==== -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <!-- ==== Dashboard ==== -->
              <li class="<%= locals.menu == 'dashboard' ? 'active' : '' %>">
                <a href="/admin/dashboard"
                  ><img
                    src="/static/backend/assets/img/icons/dashboard.svg"
                    alt="img"
                  /><span> Dashboard</span>
                </a>
              </li>
              <!-- ==== Product ==== -->
              <li class="submenu">
                <a
                  href="javascript:void(0);"
                  class="<%= locals.menu == 'product' ? 'active' : ''%>"
                >
                  <img
                    src="/static/backend/assets/img/icons/product.svg"
                    alt="img" />
                  <span>Product</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="productlist.html">Product List</a></li>
                  <li><a href="addproduct.html">Add Product</a></li>
                </ul>
              </li>

              <!-- ==== Category ==== -->
              <li class="submenu">
                <a
                  href="javascript:void(0);"
                  class="<%= locals.menu == 'category' ? 'active' : ''%>"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-box"
                  >
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                    ></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                  <span> Category</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="/admin/category/list">Category List</a></li>
                  <li><a href="/admin/category/add">Add Category</a></li>
                </ul>
              </li>
              <!-- ==== User ==== -->
              <li class="submenu">
                <a
                  href="javascript:void(0);"
                  class="<%= locals.menu == 'user' ? 'active' : ''%>"
                  ><img
                    src="/static/backend/assets/img/icons/users1.svg"
                    alt="img" /><span> Users</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="/admin/user/list">User List</a></li>
                  <li><a href="/admin/user/add">Add User</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ==== End Side Bar==== -->

      <div class="page-wrapper">
        <!-- ====App Content==== -->
        <%- body %>
        <!-- ====End App Content==== -->
      </div>
    </div>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"
    integrity="sha512-JyCZjCOZoyeQZSd5+YEAcFgz2fowJ1F1hyJOXgtKu4llIa0KneLcidn5bwfutiehUTiOuK87A986BZJMko0eWQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

    <script src="/static/backend/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/static/backend/assets/js/feather.min.js"></script>

    <script src="/static/backend/assets/js/jquery.slimscroll.min.js"></script>

    <script src="/static/backend/assets/js/jquery.dataTables.min.js"></script>
    <script src="/static/backend/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="/static/backend/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/static/backend/assets/plugins/select2/js/select2.min.js"></script>

    <script src="/static/backend/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/static/backend/assets/plugins/sweetalert/sweetalerts.min.js"></script>

   

    <script src="/static/backend/assets/js/script.js"></script>

    <script>
      const inputImagePreviewer = document.getElementById(
        "input-image-previewer"
      );
      const productImageInput = document.querySelector(".productImageInput");

      if (productImageInput) {

        let MAXIMUM_IMAGE_INPUT = productImageInput.getAttribute('data-max-files') ? parseInt(productImageInput.getAttribute('data-max-files')) : 1;

        productImageInput.addEventListener("change", function (event) {
          
          const croppedFileArray = [];
          inputImagePreviewer.innerHTML = "";
          const files = event.target.files;
          
          if (files && files.length > 0) {
            
            for (let i = 0; i < MAXIMUM_IMAGE_INPUT; i++) {
              const file = files[i];
              const imageList = document.createElement("li");
              imageList.innerHTML = `<div class="p-2 border rounded">
                        <div class="productviewsimg">
                            <img src="${URL.createObjectURL(file)}" alt="image" />
                        </div>
                        <div class="pt-2">
                            <p>${file.name}</p>
                        </div>
                    </div>`;

              inputImagePreviewer.appendChild(imageList);
              const image = imageList.querySelector(".productviewsimg img");

              const cropper = new Cropper(image, {
                aspectRatio: 1,
                viewMode: 3,
                crop : function (e) {
                  const croppedCanvas = cropper.getCroppedCanvas({
                    width: 500,
                    height: 500,
                  });

                  croppedCanvas.toBlob(function (blob) {

                    const croppedFile = new File([blob], `croped-${file.name}`, { type: "image/jpeg" });
                    image.src = URL.createObjectURL(blob);
                    croppedFileArray[i] = croppedFile;

                    if (croppedFileArray.length === files.length) {
                        const fileList = new DataTransfer();
                        croppedFileArray.forEach((croppedFile) => {
                            fileList.items.add(croppedFile);
                        });

                        productImageInput.files = fileList.files;
                    }

                  }, "image/jpeg");
                }
              });
            }
          }

        });

      }

      // confirmDelete
      function confirmDelete(URL, message = "") {
        Swal.fire({
          title: "Are you sure?",
          text: `${message}`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#ff9f43",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = URL;
          }
        });
      }
    </script>
  </body>
</html>
