<div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Product Details</h4>
        <h6>Full details of a product</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="productdetails">
              <ul class="product-bar">
                <li>
                  <h4>Product</h4>
                  <h6><%= locals.product.product_name || ''%></h6>
                </li>
                <li>
                  <h4>Category</h4>
                  <h6><%= locals.product.category.name || ''%></h6>
                </li>
                <li>
                  <h4>Unit</h4>
                  <h6><%= locals.product.unit || ''%></h6>
                </li>
                <li>
                  <h4>Quantity</h4>
                  <h6><%= locals.product.quantity || ''%></h6>
                </li>
                <li>
                  <h4>Discount</h4>
                  <h6><%= locals.product.discount || ''%></h6>
                </li>
                <li>
                  <h4>Price</h4>
                  <h6><%= locals.product.price || ''%></h6>
                </li>
                <li>
                  <h4>Status</h4>
                  <h6>
                    <% if(product.isActive == true){%>
                        <a href="javascript:void(0);" class="bg-lightgreen badges text-white">Active</a>
                    <% } else{%>
                        <a href="javascript:void(0);" class="bg-lightred badges text-white">Inactive</a>
                    <%}%>
                  </h6>
                </li>
                <li>
                  <h4>Description</h4>
                  <h6><%= locals.product.description || ''%></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="slider-product-details">
              <div class="owl-carousel owl-theme product-slide">
                <% if(locals.product){ %>
                    <% for(let image of locals.product.images){ %>
                        <div class="slider-product">
                            <img src="/<%= image %>" alt="img" />
                        </div>
                    <%}%>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>